body{
  font-family: "Gotham-Book","GretaArabic-Light","OpenSans-Regular",system-ui,Arial,Helvetica,sans-serif!important;
  color: #23282d;
}

.react-flow__edge-path{
  stroke: black !important;
  stroke-width: 5px !important
}

.react-flow__handle {
  visibility: hidden;
}
